.additional-goods__list {
  @include indent-reset;
  margin-bottom: 36px;
  list-style: none;

  @media (min-width: $tablet-width) {
    border: 1px solid $border-gray;
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    width: 896px;
    border: none;
    margin: 0;
  }
}
