.cat-slider {
  width: 280px;
  height: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 690px;
    height: 500px;
  }
}

.cat-slider__inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 232px;
  outline: 2px solid rgb(255, 153, 0);
}

.cat-slider__slide {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  outline: 2px solid rgb(12, 45, 230);
}

.cat-slider__slide--before {
  @media (min-width: $tablet-width) {
    right: 50%;
  }
}

.cat-slider__image-wrapper {
  position: absolute;
  display: block;
  top: 0;

  width: 280px;
  height: 232px;

  @media (min-width: $tablet-width) {
    width: 690px;
    height: 500px;
  }
}

.cat-slider__image {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.cat-slider__image--after {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.range {
  width: 100%;
}
