.cat-slider {
  width: 280px;
  margin: 0 auto;
  z-index: 0;

  @media (min-width: $tablet-width) {
    width: 670px;
  }
}

.cat-slider__inner {
  position: relative;
  overflow: hidden;
  width: 280px;
  height: 232px;
  // outline: 2px solid rgb(255, 153, 0);

  @media (min-width: $tablet-width) {
    width: 670px;
    height: 520px;
  }
}

.cat-slider__slide {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  // outline: 2px solid rgb(12, 45, 230);
  // background-color: $basic-background;
}

.cat-slider__slide--before {
  @media (min-width: $tablet-width) {
    right: 50%;
  }
}

.cat-slider__slide--after {
  @media (min-width: $tablet-width) {
    left: 13%;
  }
}

.cat-slider__image-wrapper {
  position: absolute;
  display: block;
  top: 0;
  overflow: hidden;
  width: 280px;
  height: 232px;

  @media (min-width: $tablet-width) {
    width: 670px;
    height: 520px;
  }
}

.cat-slider__image-wrapper.cat-slider__image-wrapper--after {
  @media (min-width: $tablet-width) {
    width: 545px;
    height: 520px;
  }
}

.cat-slider__image {
  position: absolute;
  width: 100%;
  height: 232px;
  top: 0;
  left: 0;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    height: 520px;
  }
}

.cat-slider__image--after {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
