.example {
  background-color: $basic-gray;
  outline: 2px solid $basic-green;
}

.example__wrapper {
  @include centering;
  padding: 27px 0;
}

.example__header {
  @include indent-reset;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0;
  color: $headers-font;
  margin-bottom: 33px;
}

.example__text {
  @include indent-reset;
  margin-bottom: 25px;
}

.example__results {
  @include indent-reset;
  list-style: none;
}
