.goods__header {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  color: $headers-font;

  @include indent-reset;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding-bottom: 163px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 165px;
  }
}

.goods__list {
  list-style: none;
  width: 100%;

  @include indent-reset;
  outline: 1px solid $basic-green;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, min-content);
    column-gap: 60px;
    row-gap: 141px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, min-content);
    column-gap: 80px;
    row-gap: 144px;
  }
}

.goods__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.goods__header-additional {
  display: block;
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  color: $headers-font;
  padding: 25px 0 36px 0;
  background-color: $basic-background;
  z-index: 2;
}

.goods__header-additional-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50%;
    width: 100%;
    height: 2px;
    background-color: $basic-green;
    z-index: 0;
  }
}
