.good-item {
  box-sizing: border-box;
  padding: 13px 0 17px 0;
  border-bottom: 1px solid $border-gray;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 28px 38px 27px 38px;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 0;
    justify-content: flex-start;
    align-items: flex-end;
  }

  &:first-child {
    border-top: 1px solid $border-gray;
  }
}

.good-item__header {
  @include indent-reset;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: $headers-font;
  text-transform: uppercase;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 16px;
    margin-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    align-self: center;
  }
}

.good-item__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    margin-bottom: 0;
    margin-left: auto;
    width: 288px;
    padding-bottom: 5px;
  }
}

.good-item__quantity {
  margin-right: 50px;

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.good-item__price {
  @media (min-width: $tablet-width) {
    &--special {
      padding-left: 8px;
    }
  }

  @media (min-width: $desktop-width) {
    &--special {
      padding-right: 8px;
    }
  }
}

.good-item .good-item__order-button {
  flex-basis: 100%;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $desktop-width) {
    flex-basis: 244px;
    margin-left: 38px;
  }
}
