.green-line {
  position: relative;
}

.green-line__wrapper {
  display: grid;
  grid-template-columns: min-content auto;
}

.green-line__header {
  @include indent-reset;
  display: inline-block;
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  color: $headers-font;
  padding: 25px 20px 22px 0;
  white-space: nowrap;

  background-color: $basic-background;
  z-index: 2;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 71px 42px 76px 39px;
  }

  @media (min-width: $desktop-width) {
    left: -40px;
  }
}

.green-line__line {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "empty greeny";
  z-index: 1;

  &::before {
    content: "";
    grid-area: empty;
    height: 2px;
    background-color: $basic-background;

    @media (min-width: $tablet-width) {
      background-color: $basic-green;
    }
  }

  &::after {
    content: "";
    grid-area: greeny;
    height: 2px;
    background-color: $basic-green;
  }
}
