.item-product__header a {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  color: $headers-font;
}

.item-product .item-product__button {
  width: auto;
}
