.item-composition {
  position: relative;
  padding: 2px 0 0 80px;

  @media (min-width: $tablet-width) {
    width: 245px;
    padding: 112px 0 57px 0;
    background: url("../img/decorative/icon_leaf.svg") right center no-repeat;
  }
}

.item-composition::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  background-color: $basic-green;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.item-composition--leaf {
  @media (min-width: $tablet-width) {
    background: url("../img/decorative/1.png") right 48px top no-repeat;
  }

  &::before {
    background-image: url("../img/decorative/leaf.svg");
  }
}

.item-composition--tub {
  @media (min-width: $tablet-width) {
    background: url("../img/decorative/2.png") right 10px top no-repeat;
  }

  &::before {
    background-image: url("../img/decorative/tub.svg");
  }
}

.item-composition--eat {
  @media (min-width: $tablet-width) {
    background: url("../img/decorative/3.png") right 9px top no-repeat;
  }

  &::before {
    background-image: url("../img/decorative/eat.svg");
  }
}

.item-composition--alarm {
  @media (min-width: $tablet-width) {
    background: url("../img/decorative/4.png") right top no-repeat;
  }

  &::before {
    background-image: url("../img/decorative/alarm.svg");
  }

  & br {
    display: none;

    @media (min-width: $tablet-width) {
      display: initial;
    }
  }
}

.item-composition p {
  @include indent-reset;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
