.item-composition {
  position: relative;
  min-height: 60px;
}

.item-composition::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  top: 0;
  left: 0;
  background-color: $basic-green;
  background-position: center;
  background-repeat: no-repeat;
}

.item-composition--leaf::before {
  background-image: url("../img/decorative/icon_leaf.svg");
}

.item-composition--tub::before {
  background-image: url("../img/decorative/icon_tub.svg");
}

.item-composition--eat::before {
  background-image: url("../img/decorative/icon_eat.svg");
}

.item-composition--alarm::before {
  background-image: url("../img/decorative/icon_alarm.svg");
}

.item-composition p {
  @include indent-reset;
  padding-left: 60px;
}
