.page-main__header {
  position: relative;
  min-height: 302px;
  padding-top: 27px;
  font-family: "Oswald", sans-serif;
  color: $basic-background;
  width: 100%;

  @media (min-width: $tablet-width) {
    color: $headers-font;
    min-height: 850px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    min-height: 696px;
    top: 0;
    color: $headers-font;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 0;
  }
}

.page-main__header::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 270px;
  top: 167px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image: url("../img/decorative/big_orange_box.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
  outline: 2px solid rgb(105, 7, 218);

  @media (min-width: $tablet-width) {
    height: 609px;
    width: 100%;
    top: 263px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    height: 499px;
    top: 141px;
    background-position: 68% 0;
  }
}

.page-main__wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  min-height: 302px;
  margin: 0 auto;
  background-color: $basic-green;
  background-image: url("/img/decorative/licking_cat.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  outline: 2px solid rgb(105, 7, 218);
  z-index: 0;

  @media (min-width: $tablet-width) {
    background-image: none;
    background-color: $basic-background;
  }

  @media (min-width: $desktop-width) {
    position: static;
    grid-column: -1/-2;
    background-image: url("../img/decorative/licking_cat_desktop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $basic-green;
  }
}

.page-main__green-background {
  height: 100%;
  background-color: $green-opacity;

  @media (min-width: $tablet-width) {
    background-color: $basic-background;
  }

  @media (min-width: $desktop-width) {
    background-color: $green-opacity;
  }
}

.page-main__description {
  position: relative;
  width: 280px;
  margin: 0 auto;
  outline: 2px solid rgb(228, 92, 14);
  text-align: center;
  z-index: 1;

  @media (min-width: $tablet-width) {
    width: 535px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    box-sizing: border-box;
    width: 1220px;
    top: 223px;
    left: 50%;
    transform: translate(-50%);
    padding-left: 80px;
  }
}

.page-main__description h1 {
  font-size: 36px;
  line-height: 36px;

  @include indent-reset;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.page-main__description p {
  font-size: 14px;
  line-height: 14px;
  z-index: 2;

  @include indent-reset;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
