.page-main__header {
  position: relative;
  font-family: "Oswald", sans-serif;
  color: $basic-background;
  outline: 2px solid rgb(242, 24, 24);
  width: 100%;

  @media (min-width: $tablet-width) {
    min-height: 960px;
    color: $headers-font;
  }

  @media (min-width: $desktop-width) {
    min-height: 600px;
    color: $headers-font;
  }
}

.page-main__header::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 270px;
  top: 167px;
  left: 50%;
  margin-right: 140px;
  background-image: url("../img/decorative/big_orange_box.png");
  background-repeat: no-repeat;
  margin-left: -140px;
  background-size: cover;
}

.page-main__wrapper {
  min-height: 302px;
  margin: 0 auto;
  background-color: $basic-green;
  background-image: url("/img/decorative/licking_cat.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  outline: 2px solid rgb(105, 7, 218);

  @media (min-width: $tablet-width) {
    background-image: none;
    background-color: $basic-background;
  }

  @media (min-width: $desktop-width) {
    background-image: none;
    background-color: $basic-background;
  }
}

.page-main__green-background {
  min-height: 302px;
  background-color: $green-opacity;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    background-color: $basic-background;
  }
}

.page-main__description {
  width: 280px;
  margin: 0 auto;
  outline: 2px solid rgb(228, 92, 14);
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 535px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 980px;
  }
}

.page-main__description h1 {
  font-size: 36px;
  line-height: 36px;

  @include indent-reset;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.page-main__description p {
  font-size: 14px;
  line-height: 14px;

  @include indent-reset;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
