.page-main__header {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  line-height: 72px;
  text-align: center;
  color: $basic-background;
  min-height: 480px;
  outline: 2px solid rgb(242, 24, 24);

  @media (min-width: $tablet-width) {
    min-height: 960px;
  }
}

.page-main__header::before {
  content: "";
  position: absolute;
  width: 280px;
  height: 270px;
  top: 200px;
  left: center;
  margin-right: 140px;
  background-image: url("../img/decorative/big_orange_box.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-main__wrapper {
  min-height: 320px;
  background-color: $basic-green;
  background-image: url("../img/decorative/licking_cat.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.page-main__green-background {
  min-height: 320px;
  background-color: $green-opacity;
  padding: 38px 0;
}

.page-main__green-background h1 {
  @include indent-reset;
  margin-bottom: 25px;
}

.page-main__green-background p {
  @include indent-reset;
}
