.programs__wrapper {
  position: relative;
  padding-top: 138px;
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 680px;
  }
}

.programs__button {
  margin-bottom: 22px;
  z-index: 4;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 91px;
    top: -580px;
  }

  @media (min-width: $desktop-width) {
    top: 380px;
  }
}

.programs__list {
  @include indent-reset;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.programs__item {
  box-sizing: border-box;

  &:first-child {
    margin-bottom: 20px;

    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}
