.programs__wrapper {
  padding-top: 138px;
  padding-bottom: 27px;
}

.programs__button {
  margin-bottom: 22px;
}

.programs__list {
  list-style: none;

  @include indent-reset;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.programs__item {
  box-sizing: border-box;

  &:first-child {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin: 0;
  }
}
