.program-text-field {
  position: relative;
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 13px;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }
  }
}

.program-text-field__input {
  width: 100%;
  padding: 14px 14px 10px 14px;
  box-sizing: border-box;

  &:invalid {
    border: 2px solid $error;
  }

  @media (min-width: $tablet-width) {
    padding: 15px 14px 10px 18px;
  }
}

.program-text-field__label {
  margin-right: 13px;
  white-space: nowrap;
  height: 18px;

  @media (min-width: $tablet-width) {
    margin-right: 18px;
  }
}

.program-text-field.program-text-field--email {
  @media (min-width: $desktop-width) {
    margin: 0;
  }

  & .program-text-field__input {
    box-sizing: border-box;

    @media (min-width: $desktop-width) {
      width: 486px;
    }
  }
}

.program-text-field--phone {
  & .program-text-field__input {
    box-sizing: border-box;

    @media (min-width: $desktop-width) {
      width: 472px;
    }
  }
}

.program-text-field__input:focus + .program-text-field__icon > * {
  stroke: $basic-green;
}

.program-text-field__icon {
  position: absolute;
  right: 14px;
  top: 14px;
}
