.program-checkbox {
  @include indent-reset;
  position: relative;
  padding: 5px 0 0 46px;

  @media (min-width: $tablet-width) {
    padding: 11px 0 0 60px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }
}

.program-checkbox__label::before {
  content: "";
  position: absolute;
  width: 29px;
  height: 29px;
  top: 0;
  left: 0;
  border: 1px solid $radio-border;

  @media (min-width: $tablet-width) {
    width: 39px;
    height: 39px;
  }
}

.program-checkbox__label:hover::before {
  border: 1px solid $radio-hover-border;
}

.program-checkbox__input:checked + .program-checkbox__label::before {
  background: url("../img/decorative/icon_check.svg") left 4px center no-repeat;
  background-size: 18px 14px;

  @media (min-width: $tablet-width) {
    background: url("../img/decorative/icon_check.svg") left 9px center no-repeat;
    background-size: 24px 19px;
  }
}

.program-checkbox__input:disabled + .program-checkbox__label {
  opacity: 0.3;
}
