.program {
  min-height: 266px;
  background-color: $basic-gray;
  padding: 30px 20px 22px 20px;
}

.program__header {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;

  @include indent-reset;
  margin-left: 71px;
  text-transform: uppercase;
  color: $headers-font;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 214px;
  }
}

.program__text {
  display: block;

  @include indent-reset;
  padding-bottom: 23px;
  margin-bottom: 19px;
  border-bottom: 1px solid $border-gray;

  @media (min-width: $tablet-width) {
    width: 340px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.program__link {
  display: block;

  @include indent-reset;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $headers-font;
  text-transform: uppercase;
  text-decoration: none;
  width: 123px;
  background: url("../img/decorative/icon_arrow.svg") center right no-repeat;

  &:hover {
    background: url("../img/decorative/icon_arrow_l.svg") center right no-repeat;
  }

  &:active {
    opacity: 0.3;
  }
}
