.results-list {
  display: grid;
  grid-template-columns: 124px 124px;
  grid-template-rows: min-content min-content;

  @media (min-width: $tablet-width) {
    grid-template-columns: 124px 124px auto;
    grid-template-rows: min-content;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 124px 124px;
    grid-template-rows: min-content min-content;
  }
}

.results-list__item span:first-child {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.results-list__item {
  &--spending-money span {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }
}
