.show-more {
  min-height: 158px;
  padding-top: 75px;
  background: url("../img/decorative/plus.svg") center top 10px no-repeat;
}

.show-more__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: $headers-font;
  text-transform: uppercase;
}

.show-more__description {
  @include indent-reset;
}

.show-more .show-more__button {
  background-color: $basic-gray;
  color: $headers-font;
}
