$basic-background: white;
$headers-font: black;
$basic-font: rgba(68, 68, 68, 1);
$basic-green: rgba(104, 183, 56, 1);
$basic-gray: rgba(242, 242, 242, 1);
$green-opacity: rgba(104, 183, 56, 0.85);
$border-gray: rgba(217, 217, 217, 1);
