$basic-background: rgb(255, 255, 255);
$headers-font: rgb(0, 0, 0);
$basic-font: rgba(68, 68, 68, 1);
$basic-green: rgba(104, 183, 56, 1);
$basic-gray: rgba(242, 242, 242, 1);
$green-opacity: rgba(104, 183, 56, 0.85);
$border-gray: rgba(217, 217, 217, 1);
