.socials__link {
  display: block;
}

.socials__link--vk {
  width: 22px;
  height: 16px;
  background: url(../img/decorative/icon_vkontakte.svg) center no-repeat;
}

.socials__link--inst {
  width: 16px;
  height: 16px;
  background: url(../img/decorative/icon_instagram.svg) center no-repeat;
}

.socials__link--fb {
  width: 22px;
  height: 22px;
  background: url(../img/decorative/icon_facebook.svg) center no-repeat;
}
