.page-header {
  position: relative;
  z-index: 4;
}

.page-header__container {
  position: relative;
  padding: 10px 0 17px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 0 0 0;
  }
}

.page-header__logo {
  display: block;
  height: 38px;
  justify-content: flex-start;
  padding-left: 90px;
  padding-top: 18px;
  background: url("../img/decorative/logo_mobile.svg") left center no-repeat;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    width: 174px;
    background: url("../img/decorative/logo_desktop.svg") left center no-repeat;
  }
}

.page-header__logo img {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__nav {
  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}
