.socials {
  width: 280px;
  border-bottom: 1px solid $border-gray;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.socials__wrapper {
  width: 130px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socials__link {
  display: block;
  text-decoration: none;

  &:hover svg {
    fill: $basic-green;
  }

  &:active svg {
    opacity: 0.5;
  }
}

.socials__link.socials__link--fb{
  &:hover {
    fill: $basic-green;
  }

  &:active svg {
    opacity: 0.5;
  }
}
