.socials__link:not(.socials__link.socials__link--fb) {
  display: block;
  text-decoration: none;

  &:hover svg {
    fill: $basic-green;
  }

  &:active svg {
    opacity: 0.5;
  }
}

.socials__link.socials__link--fb {
  &:hover {
    stroke: $basic-green;
  }

  &:active svg {
    opacity: 0.5;
  }
}
